.flip_button{
    background-color: var(--color-button-primary);
    color: var(--color-button-font);
    border-radius: 10px;
    font-size: 24px;
    width: 132px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border: 0px;
    text-align: center;
    vertical-align: center;
}