.board-container {
    width: 100%;
    display: flex;
    padding: 2rem 0;
    justify-content: center;
}

table {
    overflow: hidden;
    border-radius: 15px;
    border-collapse: collapse;
    border-spacing: 0;
}

#connect4 table td {
    background-color: var(--color-board);
    padding: 0.5rem;
    text-align: center;
    height: 2rem;
    width: 2rem;
    border: 0;
    z-index: 100;
}

.chip-position {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.circle-red {
    fill: var(--color-player-1);
}

.circle-red:hover{
    transform: translateY(400px);
    transition: transform 1s ease-in-out;
}

.circle-green {
    fill: var(--color-player-2);
}

.empty-dark {
    fill: var(--color-background);
}

.empty-light {
    fill: var(--color-background-light);
}

.animated {
    top: 0;
    left: 0;
}