.home {
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.home-dark {
    background-color: var(--color-background);
}

.home-light {
    background-color: var(--color-background-light);
}

.game-info h2 {
    font-size: 5rem;
    font-weight: bold;
}

.game-info p {
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 0.25rem;
}

.game-info-dark {
    color: var(--color-font);
    padding-top: 2rem;
}

.game-info-light {
    color: var(--color-font-light);
    padding-top: 2rem;
}

.player-turn-dark {
    color: var(--color-font);
    font-size: 2rem;
    margin: 2rem 0 0 0;
}

.player-turn-light {
    color: var(--color-font-light);
    font-size: 2rem;
    margin: 2rem 0 0 0;
}

.flipped-true{
    transform: rotate(180deg);
    transition: transform 1s ease-in-out;
}

.flipped-false{
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
}

.how-to-play {
    position: fixed;
    top: 30px;
    left: 30px;
}

.how-to-play-button {
    background-color: transparent;
    border: none;
}

.how-to-play-button span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkmode-toggle{
    align-items: flex-end;
    position: fixed;
    top: 30px;
    right: 30px;
}

