.home {
    height: 100vh;
}

.game-info {
    color: var(--color-font);
    padding-top: 2rem;
}

.game-info h2 {
    font-size: 5rem;
    font-weight: bold;
}

.game-info p {
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 0.25rem;
}

.player-turn {
    color: var(--color-font);
    font-size: 2rem;
    margin: 2rem 0 0 0;
}

.flipped_true{
    transform: rotate(180deg);
    transition: transform 1s ease-in-out;
}

.flipped_false{
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
}

.how-to-play {
    position: fixed;
    top: 30px;
    left: 30px;
}

.how-to-play-button {
    background-color: transparent;
    border: none;
}

.how-to-play-button span {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.astronaut {
    animation: float 5s ease-in-out infinite;
}

.astronaut img {
    height: 200px;
    transform: rotate(-30deg);
}

.astronaut-red {
    position: fixed;
    bottom: 100px;
    left: 100px;
}

.astronaut-green {
    position: fixed;
    top: 100px;
    right: 100px;
}