@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import "./css/Table.css";

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-background: #1F1F1F;
  --color-board: #4F4786;
  --color-player-1: #F03737;
  --color-player-2: #4ADE45;
  --color-button-primary: #EFA00B;
  --color-button-secondary: #EFB548;
  --color-font: #FFFFFF;
}

table, tr, th {
  border: 1px solid;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}
